.wrapper {
  padding: 0 10px;
}
.sticky_nav{
  z-index: 10;
  max-width: 1420px;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 72px;
  border-bottom: 1px solid #d2d2d2;
}
.main {
  padding: 75px 0 0 0;
}
.nav_decorate {
  margin: 23px 0 0 0;
}
.where_i {
  display: flex;
  gap: 27px;
  background-repeat: no-repeat;
  // background-position: 1.9%;
  background-position: 26px;
  background-size: 0.5%;
}
.home_ico {
  width: 16px;
}
.categori_name {
  margin: 3px 0 0 0;
}
.actual_categori {
  font-size: 36px;
  margin: 24px 0 24px 0;
}
.easy_sort_sticky{
  position: sticky;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reset_all_item{
  opacity: 0;
  pointer-events: none;
  & button {
    margin: 3px 0 0 0;
    width: 120px;
    height: 40px;
    border: 1px solid #ff8989;
    background-color: white;
    border-radius: 50px;
    transition: all .2s;
    &:hover {
      transition: all .2s;
      background-color: #ff8989;
      color: white;
    }
  }
}
.show_reset {
  opacity: 100%;
  pointer-events: auto;
}

.how_mach_found{
  margin: 13px 0 0 0;
  font-size: 18px;
}

.sort_choise_item{
  display: flex;
  gap: 30px;
}
.sort_choise {
  height: 32px;
  width: 203px;
  position: relative;
  display: inline-block;
}
.dropdown-toggle {
  padding: 12px 10px 10px 10px;
  border: 1px solid #d2d2d2;
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  border-radius: 3px;
}
.button_title {
  font-size: 14px;
}
.button_arrow {
  width: 16px;
}
.dropdown-menu {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.show {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}
.dropdown-item {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: white;
  text-align: left;
  &:hover{
    background-color: rgb(43, 113, 174);
  }
}
.sort_grid {
  display: flex;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}
.grid_variant {
  width: 46px;
  height: 39px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  & img{
    margin: 8px 8px 8px 10px;
    width: 25px;
    height: 24px;
  }
}
.actual_grid{
  background-color: #3e77aa;
}

.catigories_and_goods {
  display: flex;
}

